* {
  border: none;
  border-radius: 0;
  font-family: 'Golos Text', 'CaskaydiaMono Nerd Font Mono';
  font-size: 14px;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.9);
  border-bottom: 2px solid #33ccff;
  color: #cdd6f4;
}


#custom-cmus {
  color: @foreground;
  padding: 0 15px;
  font-weight: bold;
}

#workspaces button {
  padding: 0 5px;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #33ccff;
  border-bottom: 2px solid #33ccff;
}

#cpu,
#battery,
#pulseaudio,
#network,
#clock,
#backlight,
#custom-tailscale {
  padding: 0 10px;
  margin: 4px 0;
}


tooltip {
  padding: 2px;
  background-color: rgba(30, 30, 46, 0.9);
  border-width: 2px;
  border-style: solid;
  border-color: #33ccff;
  border-radius: 8;
}

#battery.critical {
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {background-color: #f38ba8; color: #1e1e2e; }
}
